body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.logo-img{
    max-height: 80px;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}


.nav-link{
    color: #000 !important;
    font-weight: 600;
}

.banner-sect{
    background-color: #e5e3e3;
    max-height: 60vh;
    height: auto;

}

.banner-head{
    font-size: 2vw;
    text-align: center;
}

.banner-head-italic{
    text-align: center;
    font-size: 2vw;
    letter-spacing: 0.5vw;
    color: #d88e14;
    
}


.light-bg{
    background-color: #fffbfb;
}

/* service section styling ________________________ */
.main-headin{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;

}
.main-sub-head{
    text-align: center;
    font-size: 1.5vw;
}

.serv-grid-img{
    max-height: 150px;
    margin-top: 20px;

}

.services-grid{
    background-color: #e5e3e3;
    height: 400px;
    max-height: auto;
}

.grid-text{
    margin-top: 20px;
    text-align: center;
    font-size: 1vw;
    padding: 10px;
    font-weight: 700;
}

.categor-text{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-weight: 600;
}

.categ-sub-text{
    color: #d88e14;
    font-size: 1.5vw;
    text-align: center;
}


/* service section styling ________________________ */


/* service section styling ________________________ */
.btn-letstalk{
    background-color: #d4b035;
    border-radius: 0px !important;
    width: 10vw;
    margin-top: 20px;
    margin-bottom: 50px;
}



/* service section styling ________________________ */


/* service section styling ________________________ */
.client-sect{
    background-color: #e5e3e3;
}

.carousel-text{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 600;
    padding: 20px;
}

.getin-touch-form{
    background-color: #1c1b17;
}

.form-line{
    background-color: #1c1b17 !important;
    color: #fff;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-radius: 0px !important;
    border-bottom-color: 2px solid #d4b035 !important;
    
}

/* service section styling ________________________ */


.btnsubmit{
    background-color: #d4b035;
    border-radius: 0px !important;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.getin-text{
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
}

.getin-sub-text{
    font-size: 2vw;
    text-align: center;
}


.foot-sect{
    border-top: 10px solid #d4b035;
    background-color: #000000;
    color: #fff;
}

.contact-text{
    margin-top: 40px;
    font-size: 1.1vw;
}

.banner-text{

    font-size: 1.5vw;
    text-align: center;
    padding: 20px;
}

.whyus-sect{
    background-color: #d4b34c;
}

.whyus-head{
    font-size: 2.5vw;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gift-img{
    max-height: 130px;
}

.whyus-text{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 1.5vw;
    padding: 10px;
}

.brand-img{
    max-height: 150px;
}

.brand-sect{
    background-color: #d4b34c;
    padding-top: 20px;
    padding-bottom: 20px;
}

.solution-head{
    font-size: 2vw;
    font-weight: 700;
    text-align: center;
}

.btn-catalog{
    background-color: #d4b34c;
    height: 80px;
    padding: 10px;
    font-size: 1.5vw;
    font-weight: 600 !important;
}

.client-text{
    margin-top: 40px;
    font-size: 2vw;
    color: #d4b035;
}

.client-sub-text{
    font-size: 2vw;
    margin-bottom: 40px;
}

.branding-img{
    max-height: 150px;
    margin-top: 10px;
}

.brand-grids{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e5e3e3;
    height: 450px;
}

.braning-text{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-size: 1.5vw;
}




/* product page style goes here ______________________________________________*/
.product-grid{
    height: auto;
}
.product-grid:hover{
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product-title{
    font-size: 1vw;
    padding-left: 10px;
    padding-right: 10px;
}



.product-brand-small{
    font-size: 0.7vw;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    color: #ccc;
}

.product-price{
    font-size: 1vw;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}


.new-btn{
    background-color: #fff;
}

.btn-filter{
    background-color: #fff !important;

}


.filter-grid{
    padding: 20px;
}

.btn-black{
    border-radius: 0px !important;
    background-color: #000000;
    color: #fff;
}


.pagination,
.jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
}

.page-link {
    color: black
}

.pagination.pagination-rounded-flat .page-item {
    margin: 0 .25rem
}

.pagination-success .page-item.active .page-link,
a {
    background: #d88e14;
    border-color: #000
}

.pagination.pagination-rounded-flat .page-item .page-link,
a {
    border: none;
    border-radius: 50px
}

.page-link{
    color: #000 !important;
}

.pagination-success .page-item.active .page-link, a{
    color: #fff !important;
}

/* product page style goes here ______________________________________________*/



/* product desc page style goes here ______________________________________________*/
.prod-desc-img{
    border: 10px solid #d4b34c;
}

.product-head{
    font-size: 2vw;
    margin-left: 20px;
}

.highlights-text{
    margin-left: 20px;
    font-size: 2vw;
    color: #d4b34c;
}


.multi-prod-img{
    border: 5px solid #000;
}

/* .bord{
    border: px solid #000;
} */
.multi-prod-img img{
    max-height: 150px;
}



.card-header{
    background-color: #fff !important;
}


.prod-sugg-grid{
    border: 1px solid #ccc;
    
}
.prod-sugg-grid:hover{
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.main-head{
    font-size: 1.4vw;

}

/* product desc page style goes here ______________________________________________*/


/* Contact page style goes here ______________________________________________*/
.contact-sect{
    background-color: #f4f2f2;
}
.contact-head-text{
    font-size: 2vw;
    text-align: center;
}

.condiv{
    height: 80vh;
}

.con-form-div input{
    margin-top: 40px !important;
    height: 50px;
    font-weight: 600;
}

.con-form-div textarea{
    margin-top: 40px !important;
    font-weight: 600;
}

.btn-submit{
    background-color: #d4b035;
    border-radius: 0px !important;

}


.fab{
    font-size: 1vw;
    margin-left: 10px;
}

/* Contact page style goes here ______________________________________________*/


.drop-btn{
    color: #000;
    font-weight: 600 !important;
}

.dropdown-item{
    color: #000 !important;
}




/* Responsive code starts here ________________________________________________ */
@media only screen and (max-width: 480px) {

    .main-headin{
        text-align: center;
        font-size: 8vw;
        font-weight: 600;
    
    }
    .main-sub-head{
        text-align: center;
        font-size: 5vw;
    }
    .grid-text{
        margin-top: 20px;
        text-align: center;
        font-size: 4vw;
        padding: 10px;
        font-weight: 700;
    }
    .serv-grid{
        margin-bottom: 20px;
    }
    .promo-grid{
        margin-bottom: 10px;
    }
    .categ-sub-text{
        color: #d88e14;
        font-size: 6vw;
        text-align: center;
    }
    .btn-letstalk{
        background-color: #d4b035;
        border-radius: 0px !important;
        width: 50vw;
        height: 20vw;
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 5vw !important;
        font-weight: 700 !important;
    }
    .carousel-text{
        text-align: center;
        font-size: 5vw;
        font-weight: 600;
        padding: 20px;
    }
    .getin-text{
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
    }
    
    .getin-sub-text{
        font-size: 4vw;
        text-align: center;
    }
    .foot-grid-text p{
        text-align: center;
    }
    .contact-text{
        font-size: 5vw;
    }


    .banner-head{
        font-size: 6vw;
        font-weight: 600;
        text-align: center;
    }
    
    .banner-text{
        font-size: 4vw;
        text-align: center;
        padding: 20px;
    }
    .banner-img{
        max-height: 250px;
    }

    .whyus-head{
        font-size: 6vw;
        font-weight: 600;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .gift-img{
        max-height: 130px;
    }
    
    .whyus-text{
        text-align: center;
        margin-top: 20px;
        color: #fff;
        font-size: 4vw;
        padding: 10px;
    }
    .solution-head{
        font-size: 6vw;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }
    .client-text{
        margin-top: 40px;
        font-size: 5vw;
        text-align: center;
        color: #d4b035;
    }
    
    .client-sub-text{
        font-size: 4vw;
        text-align: center;
        margin-bottom: 40px;
    }
    .btn-catalog{
        margin-bottom: 20px;
    }
    .braning-text{
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        font-size: 4vw;
    }
    .client-about-grid{
        margin-bottom: 20px;
    }

    .product-title{
        font-size: 4vw;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .product-brand-small{
        font-size: 3vw;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 600;
        color: #ccc;
    }
    
    .product-price{
        font-size: 6vw;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
    }
    .product-grid{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    .product-title{
        text-decoration: none;
        color: #000 !important;
    }
    .product-head{
        font-size: 5vw;
        padding: 10px;
    }
    .highlights-text{
        font-size: 4vw;
    }
    .prod-desc-li li{
        padding: 10px;
        font-size: 4vw;
    }
    .main-head{
        font-size: 5vw;
    }
    .prod-sugg-grid{
        margin-top: 20px;
    }
    .contact-head-text{
        font-size: 5vw;
        text-align: center;
    }
    .res-text-center{
        text-align: center;
    }
}










/* Responsive code starts here ________________________________________________ */